<div class="rounded-md shadow bg-white/60 dark:bg-midnight/60 mb-4">
  <div class="px-3 py-2">
    <div class="flex justify-between items-center mb-1 w-full">
      <h2 class="text-2xl text-black dark:text-white">
        {{ link.term }}
      </h2>

      <a [href]="link.collection.link" target="_blank" [title]="'More about ' + link.term" class="text-blue dark:text-link">
        <fa-icon [icon]="faLink"></fa-icon>
      </a>
    </div>

    <div class="text-darkgray dark:text-lightgray">
      <p>
        {{ prettifyDescription(link.description)}}
      </p>
    </div>
  </div>

  <hr class="border-lightgray dark:border-darkgray/60">

  <div class="p-2 lg:p-3 flex justify-between">
    <ul class="flex text-sm text-blue dark:text-lightblue">
      <li class="mr-1">ID {{ link.id }}</li>
      <li class="mr-1">/</li>
      <li>
        <a [href]="link.collection.link" target="_blank" [title]="'Read more in ' + link.collection.name" class="underline text-blue dark:text-link">
          {{ link.collection.name }}
        </a>
      </li>
    </ul>

    <div *ngIf="link.similarity" class="text-sm flex items-center dark:text-lightgray">
      {{ link.similarity }}
      <div [ngClass]="getSimilarityColor() + ' rounded-full w-4 h-4 ml-1 lg:ml-2'"></div>
    </div>
  </div>
</div>
