<div class="py-8 bg-darkblue-alt dark:bg-marine bg-icon-blue dark:bg-icon-darkblue min-h-full flex flex-col">
  <div class="container mx-auto flex-1 flex flex-col">
    <div class="flex flex-col justify-center items-center flex-1">
      <div class="w-96 max-w-full">
        <img src="assets/images/logo-white.svg" alt="ElexiLink" style="height: 76px; width: auto;" class="mb-8 mx-auto">

        <search-box [onHomeScreen]="true"></search-box>
      </div>
    </div>

    <div class="self-end">
      <footer-nav color="text-white"></footer-nav>
    </div>
  </div>
</div>
